@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro');

:root {
    /* || Colors */
    --clr-dark: black;
    --clr-secondary:rgb(48, 47, 47);
    --clr-primary: rgb(32, 32, 32);
    --clr-light: grey;
    --clr-accent: #251351;
    /* || Fonts */
    --font-size: clamp(1.6rem, 2vh, 1.8rem)
}

/* || Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {

    width: 100%;
    max-width: 1000px;

    background-color: var(--clr-primary);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 65%);

    padding-top: 7rem;
}


/* || to be applied later, need additional top padding for header block */
/* body::before {   
    position: fixed;
    content: '';
    width: 100%;
    height: 2rem;
    background-color: var(--clr-light);
} */

ul {
    padding-inline-start: 4em;
}

img {
    max-width: 100%;
}
h1{
    font-size: calc(var(--font-size) + 2rem);
}
.section__article>h3 {
    font-size: calc(var(--font-size) + 0.6rem);
    font-weight: bold;
}

/* || Header Block */
.header {
    display: none;
}
/* || Main Block */
.main-container {
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    margin: 0 auto;
    row-gap: 5rem;
}

/* || Section Block */

.section {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5rem;
}

.section__header {
    font-size: calc(var(--font-size) + 1.2rem);
    font-weight: bold;
}
.section__article {
    display: inherit;
    flex-flow: column nowrap;
    row-gap: 3rem;
}


.nav-link:any-link {
    color: white;
    text-decoration: none;
}

/* || Code Block */

code {
    position: relative;
    padding-bottom: 3rem;

    background-color: var(--clr-secondary);
    border: 0.1rem solid var(--clr-light);
    border-top: 3.5rem solid var(--clr-light);
    border-radius: 0.5rem;

    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    letter-spacing: 0.1ch;

    white-space: pre-line;
}
code::before {
    content: "css";
    position: absolute;
    top:-3.2rem;
    left: 2rem;
}
code::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\f0c5';
    position: absolute;
    top:-3.2rem;
    right: 4rem;
}
code:hover::after {
    cursor: not-allowed;
}
.html::before {
    content: "html";
}

code > .indent {
    display: inline-block;
    padding-left: 5rem;

    white-space: pre-wrap;
}

/* || CSS/HTML Terms */
.term {
    border: 1px solid var(--clr-light);
    border-radius: 2px;
    padding: 0.1em 0.3em;

    font-family: 'Anonymous Pro', monospace;
    font-size: calc(var(--font-size) - 0.1em);
}

@media screen and (min-width: 769px) {
    body {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
        margin: 0 auto;
    }
    .header {
        display: block;
        width: max-content;
    }
    .navbar {
        position:sticky;
        top: 14%;
        right: 0;
        padding-right: 1rem;
        line-height: 3.3rem;
    }
    .navbar__title {
        font-size: calc(var(--font-size) + 0.5rem);
        font-weight: bold;
    }
    ul {
        padding-inline-start: 2rem;
        list-style: circle;
        font-family: monospace;
    }
    .main-container {
        width: 100%;
    }
}