:root {
    /* || Colors */
    --clr-dark: black;
    --clr-secondary:rgb(48, 47, 47);
    --clr-primary: rgb(32, 32, 32);
    --clr-light: grey;
    --clr-accent: #251351;
    /* || Fonts */
    --font-size: clamp(1.6rem, 2vh, 1.8rem)
}

/* || Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {

    width: 100%;

    background-color: var(--clr-primary);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 65%);
}


/* || to be applied later, need additional top padding for header block */
/* body::before {   
    position: absolute;
    content: '';
    width: 100%;
    height: 1rem;
    background-color: var(--clr-accent);
} */

ul {
    padding-inline-start: 4em;
}

img {
    max-width: 100%;
}
h1{
    font-size: calc(var(--font-size) + 2rem);
}
.section__article>h3 {
    font-size: calc(var(--font-size) + 0.6rem);
    font-weight: bold;
}

/* || Header Block */
.header {
    width: 100%;
    padding: 3rem 0;
}
.navbar { /* note : navbar will be visible at 769px screen width */
    display: none;
}

/* || Main Block */
.main-container {
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    row-gap: 5rem;
}

/* || Section Block */

.section {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5rem;
}

.section__header {
    font-size: calc(var(--font-size) + 1.2rem);
    font-weight: bold;
}
.section__article {
    display: inherit;
    flex-flow: column nowrap;
    row-gap: 3rem;
}


.nav-link:any-link {
    color: white;
    text-decoration: none;
}

/* || Code Block */

code {
    position: relative;
    padding-bottom: 3rem;

    background-color: var(--clr-secondary);
    border: 0.1rem solid var(--clr-light);
    border-top: 3.5rem solid var(--clr-light);
    border-radius: 0.5rem;

    white-space: pre-line;
}
code::before {
    content: "css";
    position: absolute;
    top:-3.2rem;
    left: 2rem;
}
code::after {
    font-family: "Font Awsome 6 Free";
    content: "\f0c5";
    position: absolute;
    top:-3.2rem;
    right: 2rem;
}
.html::before {
    content: "html";
}

code > .indent {
    display: inline-block;
    padding-left: 5rem;

    white-space: pre-wrap;
}

