@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-bg: #000814;
    --clr-primary: #001d3d;
    --clr-primary-2:#003566;
    --clr-accent:#ffc300;
    --clr-accent-2: #ffd60a;


    --fs: clamp(1.6rem, 6vh + 6vw , 2.2rem)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}

body {
    background-color: var(--clr-bg);
    color: white;
    font-size: var(--fs);
    font-family: poppins, sans-serif;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--clr-bg);
}
.header__logo {
    font-size: calc(var(--fs) + 2rem);
    font-family: 'permanent marker', sans-serif;
}
.header__navbar {
    display: flex;
    gap: 2rem;
    font-family: 'josefin sans', sans-serif;
    list-style: none;
}
.header__navbar :any-link {
    text-decoration: none;
    color: var(--clr-text);
    transition: all 0.25s;
}
.header__navbar :hover,
.header__navbar :focus {
    color: var(--clr-accent);
}

.hero {
    position: relative;

    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-bg);
}
.hero__text {
     position: relative;
}

.hero__shape {
    content: '';
    width: 35rem;
    height: 10rem;
    background-color: var(--clr-bg);
    position: absolute;
    right: -2rem;
    top: 0%;
    animation: slide 2s ease 1 forwards,
    rotate 2s ease 1s 1 forwards;
}
@keyframes slide {
    0% {

    }
    100% {
        width: 0.2rem;
    }
}
@keyframes rotate {
    100% {
        right:63%;
        transform: rotate(90deg);
        height: 12ch;
        background-color: var(--clr-accent);
    }
}
.projects {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 20rem;
    text-align: center;

    background-color: var(--clr-primary);
}
.projects h2 {
    position: absolute;
    width: 100%;
    top: 5%;
}
.project__card {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    padding: 2rem;
    
    background-color: var(--clr-primary-2);
    border-radius: 1rem;
    border: 2px solid var(--clr-primary);

    transition: all 0.25s;
}
.project__card img {
    border-radius: 1rem;
}
.project__card:hover,
.project__card:focus,
.project__card:focus-within {
    box-shadow:  0.3em 0.3em 1em  var(--clr-bg);
    border: 2px solid var(--clr-accent);
}
.project__card a:any-link,
.see-more a:any-link {
    display: block;
    color: black;
    background-color: var(--clr-accent);
    width: 15rem;
    margin: 0 auto;
    padding: 0.3em;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 500;
    transition: all 0.25s;
}
.project__card a:hover,
.project__card a:focus,
.see-more a:hover,
.see-more a:focus {
    width: 20rem;
    background-color: var(--clr-accent-2);
}
.see-more {
    width: 100%;
}
footer {
    min-height: 50vh;
    padding-top: 15vh;
    text-align: center;
    
}

footer ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
}
footer a:any-link {
    text-decoration: none;
    font-family: 'josefin sans', sans-serif;
    color: white;
    border-bottom: 1px solid var(--clr-accent);

    background: linear-gradient(90deg, var(--clr-accent), var(--clr-accent-2));
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.25s;
}
footer a:hover,
footer a:focus {
    color: var(--clr-bg);
    background-size: 100% 100%;
}




/* || Dividers */
.projects__div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.projects__div svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 103px;
}

.projects__div .shape-fill {
    fill: var(--clr-bg);
}

.contact {
    position: relative;
}
.contact__div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.contact__div svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 103px;
}

.contact__div .shape-fill {
    fill: var(--clr-primary);
}