@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color: black;
    color: white;
}
/* || Dividers */
.hero {
    position: relative;
}
.hero__div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero__div svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 103px;
}

.hero__div .shape-fill {
    fill: #ff0000;
}

.projects {
    position: relative;
}
.projects__div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.projects__div svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 103px;
}

.projects__div .shape-fill {
    fill: #FFE948;
}