@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* || Color */
    --primary-color: #0A0F0D;
    --secondary-color: #FF934F;
    --accent-color: #CABD77;
    --light-color: #f7f7f7;
    --accent-color-gradient: hsla(51, 44%, 63%, 0.39);

    /* || Font */

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* || 1rem = 10px */
}

body {
    max-width: 100%;
    min-height: 100%;
    font-size: clamp(2rem, 2.5vh, 3rem);
    font-family: 'open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05ch;

    background-color: var(--primary-color);
    color: var(--light-color);
}

h2 {
    padding-bottom: 0.1em;
    margin: 0 auto 0.2em auto;

    font-size: clamp(2rem, 6vh, 6rem);
    font-family: 'Arvo', 'Open Sans', sans-serif;
    color: var(--accent-color);
}

/* || header block */
.header {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 5em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    background-image: linear-gradient(to top, rgba(10, 9, 9, 0.9), var(--accent-color-gradient) 98%, var(--primary-color)), url(images/banner.png);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header * {
    /* || Stacking header block */
    grid-area: 1;
}

.header__title {
    text-align: center;
    padding-bottom: 0.1em;

    font-family: 'Protest Revolution', sans-serif;
    font-size: clamp(2rem, 8vh, 20rem);

    color: transparent;

    background: linear-gradient(to right bottom, var(--accent-color) 60%, var(--primary-color));

    -webkit-background-clip: text;
    /* || clip on live preview doesn't work without this */
    background-clip: text;
}

.header__description {
    color: transparent;
    font-family: 'Protest Revolution', 'Open Sans', sans-serif;
    text-align: right;
    font-size: clamp(2rem, 2vh, 4rem);

    background: linear-gradient(to right, var(--accent-color)70%, var(--accent-color-gradient));

    /* || background clip on live preview doesn't work without this */
    -webkit-background-clip: text;
    background-clip: text;
}

/* || subject block */

.subject {
    min-height: 100vh;
    max-width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;

    padding: 1em;

    text-align: center;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.705) 30%, rgba(36, 33, 3, 0.767)), url(images/background.jpeg) 60%;
}
.subject__figure {

}
.subject__info {
    padding: 3em 0;
}
.subject__description {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--accent-color);
}

.subject__image {
    width: 100%;
    max-width: 400px;
    height: auto;
    
    border-radius: 50%;
    padding: 1em 0 0 0;
    filter: grayscale();
}









