@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* || Color */
    --primary-color: #000;
    --primary-color-2: hsl(60, 20%, 9%);
    --primary-color-3: #434d0f;
    --secondary-color: #FF934F;
    --accent-color: #CABD77;
    --light-color: #f7f7f7;
    --dark-color: #141313;
    --accent-color-gradient: hsla(51, 44%, 63%, 0.39);

    /* || font*/
    --font-size: clamp(0.5rem, 1vw + 1vh, 0.8rem);
}

/* || global properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: auto;
    /* || 1rem = 10px */
}

body {
    max-width: 100%;
    min-height: 100%;

    font-size: var(--font-size);
    font-family: 'open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.08ch;
    line-height: calc(var(--font-size) + 0.8em);

    background-color: var(--primary-color);
    color: var(--light-color);
}

h2 {
    padding-bottom: 0.5em;
    margin: 0 auto 0.2em auto;

    text-align: center;
    text-indent: 0;

    font-size: calc(var(--font-size) + 1em);
    font-family: 'Arvo', 'Open Sans', sans-serif;
    color: var(--accent-color);

}

.h2__dekstop {
    display: none;
} 
p {
    text-indent: 1em;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
    
    padding: 1em;
    border-radius: 5px;
    background: linear-gradient(to bottom right, var(--primary-color), var(--accent-color));
}

.blockquote__quote {
    text-align: center;
}

.hightlight {
    color: var(--accent-color);
    font-style: normal;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: calc(var(--font-size) - 0.1em);
    font-style: italic;
}

/* || header block */
.header {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 5em;
    line-height: normal;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    background-image: linear-gradient(to top, rgb(10, 9, 9), var(--accent-color-gradient) 98%, var(--primary-color)), url(https://i.imghippo.com/files/vGZAx1708148697.png);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header * {
    /* || Stacking header block */
    grid-area: 1;
}

.header__title {
    text-align: center;
    padding-bottom: 0.1em;

    font-family: 'Protest Revolution', sans-serif;
    font-size: clamp(2rem, calc(4vh + 4vw), 20rem);

    color: transparent;

    background: linear-gradient(to right bottom, var(--accent-color) 60%, var(--primary-color));

    -webkit-background-clip: text;
    /* || clip on live preview doesn't work without this */
    background-clip: text;
}

.header__description {
    color: transparent;
    font-family: 'Protest Revolution', 'Open Sans', sans-serif;
    text-align: right;
    font-size: clamp(2rem, 1vh + 1vw, 4rem);

    background: linear-gradient(to right, var(--accent-color)70%, var(--accent-color-gradient));

    /* || background clip on live preview doesn't work without this */
    -webkit-background-clip: text;
    background-clip: text;
}

/* || subject block */

.subject {
    min-height: 100vh;
    max-width: 600px;
    position: relative;
    margin: 1em auto;

    display: flex;
    flex-flow: column;
    place-content: space-between center;

    padding: 1em;

    text-align: center;
}


.subject__info {
    display: flex;
    flex-flow: column nowrap;
    padding: 3em 2em;
    padding-bottom: 1em;
    row-gap: 1em;
}

/* || tribute container */
.article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;

    text-align: left;
    width: 95%;
    max-width: 500px;
}

/* || section block */

.section {
    display: flex;
    flex-flow: column-reverse wrap;
    row-gap: 2rem;
    max-width: 80rem;

    padding: 2em 1.5em;

    border-radius: 0.2em;
    background-color: var(--dark-color);
}
/* | last section layout fix */
.remem {
    flex-flow: column;
}
.remem>.section__figure .section__image {
    max-width: none;
}

.section__figure {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.section__image {
    background: none;
}

.section__article {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--accent-color);
}

.section__figure {
    padding-top: 1em;
}

.play-icon {
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 45%;

    border-bottom: none;
    color: var(--light-color);
}
.celebrate-life {
    position: relative;
    
    background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color));
    background-size: 100% 0;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: all 0.25s;
}
.celebrate-life:hover,
.celebrate-life:hover>.play-icon,
.celebrate-life:focus,
.celebrate-life:focus>.play-icon {
    background-size: 100% 5%;
    color: var(--accent-color);
}
/* || start of section with multiple picture */
.section:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 10px;
}

.section:nth-child(4) .section__figure {
    order: 2;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1em;
}

.section:nth-child(4) .section__image {
    width: 40%;
    height: auto;
}


/* || last picture positioning */
.section:nth-child(4) .section__caption {
    width: 100%;
    padding-top: 1em;
    text-align: center;
}

/* || end of section with multiple picture */

blockquote {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    width: 80%;
    max-width: 50rem;
    min-height: 10rem;
    padding: 1em;
    margin: 1em 0;

    font-style: italic;

    background-color: var(--dark-color);
    border-left: 0.5rem solid var(--accent-color);
    border-radius: 2px;
}

.blockquote__quote {
    font-size: calc(var(--font-size) + 0.5em);
    font-weight: bolder;
}

/* || links block */
.links {
    width: 100%;
    border-bottom: 1em solid var(--accent-color);
    background-color: var(--dark-color);
}
.links__container {
    width: fit-content;
    margin: 1em auto 0 auto;
    padding: 2em;
    text-indent: 1em;
    text-align: left;
}
.links__ul {
    display: inline-block;
    margin: 0 auto;
}

.links__li {
    list-style-position: inside;
    text-align: left;
}

.links__link:any-link, .article__link:any-link {
    display: inline-block;
    padding-left: -10px;

    text-decoration: none;
    text-indent: 0;
    line-height: normal;

    color: var(--light-color);
    background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color));
    background-size: 100% 0;
    background-position: bottom;
    background-repeat: no-repeat;
    border-bottom: 0.1em solid var(--accent-color);

    transition: all 0.25s;
}

.links__link:hover,
.links__link:focus,
.article__link:hover,
.article__link:focus {
    background-size: 100% 100%;
    color: var(--primary-color);
}


/* || media queries */
@media (min-width: 800px) {

    .h2__mobile {
        display: none;
    }
    .h2__dekstop {
        display: block;
        padding-bottom: 0;
    }

    /* || subject block */
    .subject {
        display: grid;
        flex-flow: row nowrap;
        align-items: center;

        min-height: 1px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        align-items: center;
    }


    .subject__image {
        flex-grow: 1;

        width: 80%;
        height: 80%;
    }

    .subject__description {
        flex-grow: 2;
    }

    /* || triubte container */
    .article {
        position: relative;
        display: grid;
        grid-template: repeat(6, auto) / repeat( 2, 1fr);
        grid-template-areas:
        "quote1 quote1"
        "early  early"
        "rise music"
        "loss   loss"
        "quote2 quote2"
        "remem  remem";
        grid-column-gap: 0.5em;
        grid-row-gap: 3em;
        
        max-width: 500px;
        margin-bottom: 2rem;
    }
    .section {
        flex-flow: column nowrap;
        margin: 0 auto;
        align-items: center;
    }
    .section__early__article {
        width: 65%;
        border: none;
        align-items: center;
    }
    .rise .section__article,
    .music .section__article,
    .loss .section__article,
    .remem .section__article {
        border: none;
    }
    .loss .section__article {
        width: 65%;
    }

    /* || tribute layout */
    .quote1 {
        position: sticky;
        grid-area: quote1;
        margin: auto;
    }
    .early {
        grid-area: early;
        flex-flow: row-reverse nowrap;
        column-gap: 1em;
    }
    .rise {
        height: 100%;
        grid-area: rise;
    }
    .music {
        height: 100%;
        grid-area: music;
    }
    .loss {
        grid-area: loss;
        flex-flow: row;
        column-gap: 1em;
    }
    .remem {
        grid-area: remem;
        flex-flow: column;
        row-gap: 1em;
    }
    .remem>.section__figure .section__image {

        object-fit: cover;
        max-width: none;
        width: 100%;
        height: auto;
    }
    .quote2 {
        grid-area: quote2;
        margin: 0 auto
    }
}