@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* ||| Colors */
    /* || Primary */
    --clr-cta: hsl(356, 100%, 66%);
    --clr-cta-2: hsl(355, 100%, 74%);
    --clr-heading: hsl(208, 49%, 24%);
    /* || Neutral */
    --clr-text: hsl(0, 0, 100%);
    --clr-text-footer: hsl(240, 2%, 79%);
    --clr-text-body: hsl(207, 13%, 34%);
    --clr-bg-footer: hsl(240, 10%, 16%);
    /* || Hero Gradients */
    --clr-hero-gradient: hsl(13, 100%, 72%);
    --clr-hero-gradient-2: hsl(353, 100%, 62%);
    /* || Body Gradients */
    --clr-bg-body: hsl(237, 17%, 21%);
    --clr-bg-body: hsl(237, 23%, 32%);

    /* ||| Font */
    --fs: clamp(1.6rem, 5vh, 2.4rem);
    --ff-overpass: 'Overpass', Helvetica, sans-serif;
    --ff-ubuntu: 'Ubuntu', Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    line-height: 1.4;
    font-size: var(--fs);
    font-family: var(--ff-ubuntu);
    color: var(--clr-text);

    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr;
}

/* || Header */
header {
    grid-area: 1/1/2/2;

    background-color: var(--clr-hero-gradient);
}
.logo {
    max-width: 50%;
    margin: 0 auto;
    padding: 1.5rem 0;
    filter: invert();
}
.navbar {
    display: none;
}
/* || Main */
main {
    grid-area: 2/1/3/2 ;
}
.hero {
    min-height: 80vh;
    background-image: linear-gradient(to bottom, var(--clr-hero-gradient), var(--clr-hero-gradient-2));
}










footer {
    background-color: green;
    grid-area: 3/1/3/2;
}