@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* ||| Colors */
    /* || Primary */
    --clr-cta: hsl(356, 100%, 66%);
    --clr-cta-2: hsl(355, 100%, 74%);
    --clr-heading: hsl(208, 49%, 24%);
    /* || Neutral */
    --clr-text: white;
    --clr-text-footer: hsl(240, 2%, 79%);
    --clr-text-body: hsl(207, 13%, 34%);
    --clr-bg-footer: hsl(240, 10%, 16%);
    /* || Hero Gradients */
    --clr-hero-gradient: hsl(13, 100%, 72%);
    --clr-hero-gradient-2: hsl(353, 100%, 62%);
    /* || Body Gradients */
    --clr-bg-body: hsl(237, 17%, 21%);
    --clr-bg-body: hsl(237, 23%, 32%);

    /* ||| Font */
    --fs: clamp(1.6rem, 5vh, 2.4rem);
    --ff-overpass: 'Overpass', Helvetica, sans-serif;
    --ff-ubuntu: 'Ubuntu', Helvetica, sans-serif;

    /* || Padding */
    /* m = mobile */
    --padding-m-horizotal: 0 2rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    line-height: 1.4;
    font-size: var(--fs);
    font-family: var(--ff-ubuntu);
    color: var(--clr-text);

    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: auto;
}
img,iframe {
    width: 100%;
}

/* || Header */
header {
    padding-top: 3rem;
    grid-area: 1/1/2/2;

    background-color: var(--clr-hero-gradient);
}
.logo {
    width: 70%;
    max-width: 50rem;
    margin: 0 auto;
}
.navbar {
    display: none;
}
/* || Main */
main {
    grid-area: 2/1/3/2 ;
}

/* || Hero */
.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    row-gap: 5rem;

    height: 70vh;

    background-image: linear-gradient(to bottom, var(--clr-hero-gradient), var(--clr-hero-gradient-2));
    font-size: calc(var(--fs) + 0.5em);
    text-align: center;

    border-radius: 0 0 0 15rem;
}
.hero__header {
    min-height: 25%;
}
.hero__description {
    font-size: calc(var(--fs) + 0.2em);
    font-weight: 300;

    padding-top: 1rem;
}
.hero__buttons {
    display: flex;
    justify-content: center;
    column-gap: clamp(0.5rem, 4vw, 10rem);
}
.hero__button1:any-link, .hero__button2:any-link {
    display: inline-block;
    text-decoration: none;

    font-size: calc(var(--fs) + 0.1rem) ;
    padding: 0.5em 1em;
    border: 1px solid var(--clr-text);
    border-radius: 5rem;
    white-space: nowrap;
}
.hero__button1 {
    color: var(--clr-cta);
    background-color: var(--clr-text);
}
.hero__button2 {
    color: var(--clr-text);
    background-color: var(--clr-cta);
}
.hero__button1:hover,
.hero__button1:focus {
    color: var(--clr-text);
    background-color: var(--clr-cta-2);
}
.hero__button2:hover,
.hero__button2:focus {
    color: var(--clr-cta);
    background-color: var(--clr-text);
}

/* || Sections */
/* || Product */
.product {
    color: var(--clr-text-body);
}
.product__image {
    width: 100%;
    height: 50rem;
    background-position: center center;
    background-repeat: no-repeat;
}
.product1 {
    background-image: url(https://images.unsplash.com/photo-1622621746668-59fb299bc4d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjR8fHxlbnwwfHx8fHw%3D);
}
.product2 {
    background-image: url(https://images.unsplash.com/photo-1606890737304-57a1ca8a5b62?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.product3 {
    background-image: url(https://images.unsplash.com/photo-1578985545062-69928b1d9587?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
/* || Review */
.review {
    background-color: var(--clr-bg-body);

    border-radius: 0 15rem 0 15rem;
}
/* || Feature */
.feature {
    color: var(--clr-text-body);
}







/* || footer */
footer {
    grid-area: 3/1/3/2;

    text-align: center;

    color: var(--clr-text-footer);
    background-color: var(--clr-bg-footer);

    border-radius: 0 15rem 0 0;
}

footer a:any-link {
    font-family: monospace;
    text-decoration: none;
    color: var(--clr-text-footer)
}